.navbar {
  width: 120px;
  background-color: rgb(235, 224, 193);
  position: fixed;

  &-top {
    display: flex;
    justify-content: center;
    background-color: white;
  }

  &-items {
    display: flex;
    flex-direction: column;

    .item {
      padding: 5px;
      font-family: 'Tomorrow', sans-serif;
      font-weight: bold;
      cursor: pointer;
      border-bottom: 1px solid rgb(94, 85, 85);
      span {
        z-index: 20;
      }
    }

    .subitem {
    }
  }
}
.navbar {
  width: 120px;
  background-color: rgb(235, 224, 193);
  position: fixed;

  &-top {
    display: flex;
    justify-content: center;
    background-color: white;
  }

  &-items {
    display: flex;
    flex-direction: column;

    .item {
      padding: 5px;
      font-family: 'Tomorrow', sans-serif;
      font-weight: bold;
      cursor: pointer;
      border-bottom: 1px solid rgb(94, 85, 85);
      span {
        z-index: 20;
      }
    }

    .subitem {
      font-family: 'Tomorrow', sans-serif;
      font-size: 15px;
    }
  }

  &-items-subsection {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-out;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7e81a585;
  }

  &-items-subsection-opened {
    max-height: 100px;
  }
}

.logo-container {
  width: 50px;

  .logo {
    max-width: 100%;
  }
}
