<form [formGroup]="loginForm" (ngSubmit)="logIn(loginForm.value)">
  <div class="controls-container">
    <label for="">Username</label>
    <div class="control">
      <input type="text" formControlName="username" />
    </div>
    <label for="">Password</label>
    <div class="control">
      <input type="text" formControlName="password" />
    </div>
    <div class="errors-container">
      <span *ngIf="errors?.length > 0">Invalid credentials</span>
    </div>
    <button [disabled]="loginForm.invalid" class="btn" type="submit">
      Submit
    </button>
  </div>
</form>
