<div class="modal">
  <form [formGroup]="loginForm" (ngSubmit)="logIn(loginForm.value)">
    <div class="form-container">
      <img
        src="../assets/icons/black_cross.png"
        class="cross"
        (click)="closeModal()"
      />
      <div class="controls-container">
        <label for="">Username</label>
        <div class="control">
          <input type="text" formControlName="username" />
        </div>
        <label for="">Password</label>
        <div class="control">
          <input type="text" formControlName="password" />
        </div>
      </div>
      <button class="btn" type="submit">Submit</button>
    </div>
  </form>
</div>
