<form [formGroup]="loginForm" (ngSubmit)="logIn(loginForm)">
  <div class="controls-container">
    <label for="">Username</label>
    <div class="control">
      <input type="text" formControlName="username" />
    </div>
    <label for="">Password</label>
    <div class="control">
      <input type="text" formControlName="password" />
    </div>
    <button class="btn" type="submit">Submit</button>
    <div *ngIf="errors?.length > 0">
      <span class="errors">
        {{ errors }}
      </span>
    </div>
  </div>
</form>
