.privates {
  padding: 10px;
  .private-window {
    width: 300px;
    border: 1px solid black;
    height: 350px;
  }

  .header {
    padding: 10px;
  }

  .privates-display {
      padding: 10px;
  }
}
