<div class="social">
  <div class="social-contacts">
    <div class="searcher">
      <div class="icon">
        <img
          [ngClass]="{ foo: blur }"
          src="../../assets/icons/lup.png"
          alt=""
        />
      </div>

      <div class="animated-input">
        <input type="text" />

        <span class="border"></span>
      </div>
    </div>

    <div class="list">
      <div class="contact">
        <span></span>
      </div>
    </div>
    <div class="new-friends-box" [ngClass]="{ opened: isFriendsBoxShown }">
      <img
        class="arrow"
        src="../../assets/icons/hat-arrow-right.png"
        alt=""
        (click)="showAddFriendsBox()"
      />
      <div
        [ngClass]="{ opened: isFriendsBoxShown }"
        class="friend-aggregator opened"
      >
        <div class="friend-searcher">
          <label for="">Add a friend</label>
          <input
            type="text"
            placeholder="Type a name"
            (keydown.enter)="addNewFriend($event.target.value)"
            [(ngModel)]="friendName"
          />
          <span class="error-text">{{ newFriendMsg }}</span>
        </div>
        <div>
          <img
            class=""
            src="../../assets/icons/plus.png"
            alt=""
            (click)="addNewFriend()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
