<div class="social">
  <div class="social-contacts">
    <div class="searcher">
      <div class="icon">
        <img
          [ngClass]="{ foo: blur }"
          src="../../assets/icons/lup.png"
          alt=""
        />
      </div>

      <div class="animated-input">
        <input type="text" />

        <span class="border"></span>
      </div>
    </div>

    <div class="list">
      <div class="contact">
        <span></span>
      </div>
    </div>
    <div class="new-friends-box" [ngClass]="{ opened: isFriendsBoxShown }">
      <img
        class="arrow"
        src="../../assets/icons/hat-arrow-right.png"
        alt=""
        (click)="showAddFriendsBox()"
      />
      <div
        [ngClass]="{ opened: isFriendsBoxShown }"
        class="friend-aggregator opened"
      >
        <div class="friend-searcher">
          <label for="">Add a friend</label>
          <input
            type="text"
            placeholder="Type a name"
            (keydown.enter)="addNewFriend($event.target.value)"
            [(ngModel)]="friendName"
          />
          <span class="border"></span>
          <div class="messages-box">
            <span *ngIf="newFriendMsg" [@inOutAnimation] class="success-text">{{
              newFriendMsg
            }}</span>
            <span *ngIf="newFriendError" [@inOutAnimation] class="error-text">
              {{ newFriendError }}
            </span>
          </div>
        </div>
        <div>
          <img
            class=""
            src="../../assets/icons/plus.png"
            alt=""
            (click)="addNewFriend()"
          />
        </div>
      </div>
      <div
        class="friend-requests-box"
        [ngClass]="{ opened: isFriendsBoxShown }"
        *ngIf="friendRequest.length > 0; else noRequests"
      >
        <div *ngFor="let request of friendRequest" class="request">
          {{ request.content }}
          <div class="buttons">
            <span (click)="resolveRequest(request.content, true)">X</span>
            <span (click)="resolveRequest(request.content, false)">L</span>
          </div>
        </div>
      </div>
      <ng-template #noRequests>
        <div
          class="friend-requests-box empty"
          [ngClass]="{ opened: isFriendsBoxShown }"
        >
          You have no pending requests.
        </div>
      </ng-template>
    </div>
  </div>
</div>
