.form-container {
  height: 350px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: -7px 8px 2px 0px rgba(0, 0, 0, 0.75);
}

.btn {
  width: 90px;
  background-color: #ccb96a;
  color: black;
  align-self: center;
}

input {
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: none;
  border: none;
  background-color: rgb(196, 196, 196);
}

.controls-container {
  margin: 10px 0 10px;
  font-family: 'Tomorrow', sans-serif;
  text-align: center;
}

.control {
  margin: 5px 0 10px;
  & input {
    font-family: 'Roboto', sans-serif;
    outline: none;
    height: 25px;
    font-size: 22px;
  }
}

.cross {
  width: 20px;
  align-self: flex-end;
  margin: 15px 15px 0;
}
