<main>
	<nav class="navbar">
		<div class="navbar-top">
			<div class="logo-container">
				<img
    class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Biohazard_symbol.svg/520px-Biohazard_symbol.svg.png"
    alt="">
      </div>
    </div>
    <div class="navbar-items">
        <a routerLink="/" class="item">Home</a> 
        <a routerLink="/room" class="item">Room</a> 
    </div>
    <div>
      <button (click)="openLoginModal()">Log In</button>
    </div>
  </nav>
  <app-login *ngIf="isOpenModalLogin"></app-login>
	<div class="content-wrapper">
		<router-outlet></router-outlet>
	</div>
</main>