.form-container {
  height: 350px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: -7px 8px 2px 0px rgba(0, 0, 0, 0.75);
}

.btn {
  width: 90px;
  background-color: #ccb96a;
  color: black;
  align-self: center;
}

.controls-container {
  margin: 10px 0 10px;
  font-family: 'Tomorrow', sans-serif;
  text-align: center;
  & .errors-container {
    height: 20px;
    font-size: 14px;
    margin-bottom: 5px;
    
    span {
      color: red;
    }
  }
}

.cross {
  width: 20px;
  align-self: flex-end;
  margin: 15px 15px 0;
}
